<h1>結果発表！！</h1>
<h2>あなたの正解率は8問中 <%= @score %> 問でした</h2>
<% if @score == 8 %>
  <h1>あなたのゴリラ博識度は、【クロスリバーゴリラ級】です。</h1>
    <p>
      ウッホ！ウホホホ！<br>
      (素晴らしい！君はゴリラ博識者ですね！！)
    </p>
<% elsif @score >= 4 %>
  <h1>あなたのゴリラ博識度は、【マウンテンゴリラ級】です</h1>
    <p>
      ウホホ、ウホホウホ<br>
      (まぁまぁですね、もう少し勉強しましょうね。)
    </p>
<% elsif @score >= 1 %>
  <h1>あなたのゴリラ博識度は、【ニシローランドゴリラ級】です</h1>
    <p>
      ウ、ウホッ、、、ウホホウホ？<br>
      (えっ、ゴリラ悲しいよ、、、もっと勉強してね？)
    </p>
<% else %>
  <h1>今夜あなたの家にゴリラを送り込むことにします。</h1>
<% end %>
<p><%= link_to "もう一度挑戦するウホ", root_path %></p>
