<main>
  <div class="center-content">
    <h1>青春をゴリラで染めた<br>ゴリラによるゴリラ博識度クイズ🦍</h1>
    <br>
    <div class = "content-body">
      <p>このアプリを開いてみなさん、こう思ったことでしょう。</p>
      <h2>「青春、関係なくね？？」</h2>
      <p>一つ、言い訳させて下さい。</p>
      <p>
        私の高校生の頃のあだ名が「ゴリラ」でした。<br>
        つまり、私の高校生の頃の青春 = 「ゴリラ」と言っても過言では無いのです。
      </p>
      <br>
      <p>
        という事で、皆さんにゴリラの事をもっと知っていただきたいと思い<br>
        簡単なクイズを作成しました。<br>
      </p>
      <p>このクイズを通して、ぜひ皆さんもゴリラへの第一歩を踏み出して下さい</p>
    </div>
    <%= link_to 'クイズを始める', question_path(1), class: 'start-button' %>
  </div>
</main>
